*{
    padding: 0em;
    margin: 0em;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* #siginbg{
    background-image: url("images/bg1.jpg");
    -webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;

} */
form {
    display: inline-block;
}
.margin1{
    margin: 0px;
}
.signform{
    width: 50%;
    border: 4px solid green;
    padding: 2em;
    background-color: lavenderblush;
    background-blend-mode: hue;
   }

.header3{
    text-align: center;
}

.indexpic{
    
    border: 1px solid black;
    background-image: url("../images/bg4.jpg");

    border-radius: 50%;
}
#newbox{
    text-align: center;
    align-content: center;
    width: 50%;
}
.intro-cont{
    width: 100%;
    margin: 0px;
    padding: 20px;
    align-content: center;
    text-align: justify;
    background-color: burlywood;
    text-decoration: black;
}

.row1{
    border: 1px,solid,black;
    margin-top: 3em;
    align-content: center;
    /* background-color: rgb(238, 243, 170); */
    background-image: url(../images/bg4.jpg);

}
/* social media */
    .fa {
    padding: 20px;
    font-size: 50px;
    width: 90px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
    background: #3B5998;
    color: white;
    }

    .fa-twitter {
    background: #55ACEE;
    color: white;
    }

    .fa-google {
    background: #dd4b39;
    color: white;
    }

    .fa-youtube {
    background: #bb0000;
    color: white;
    }

    .fa-instagram {
    background: #125688;
    color: white;
    }
    .col-lg-12{
        align-content: center;
    }
/* /social media */
.top-dest{

    background-color: rgb(236, 240, 182);
    padding: 1px;
    height: 35em;

}
.col-sm-img{
height: 15em;
width: 21.5em;
padding: 3px;
margin: 0.5px;

}
.col-sm-img:hover{
    opacity: 0.3;
}

.col-sm:hover .middle{
    opacity: 1;
}

.top-dest-heading{
    padding: 10px;
    text-align: center;
    color:rgb(48, 6, 87);


}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  
.text {
    background-color: #cccecc;
    color: rgb(17, 16, 16);
    font-size: 16px;
    padding: 16px 32px;
  }

.card-body-ele{
    padding: 10px;
}
footer{
    background-color:rgb(153, 153, 128);
    align-content: center;
    margin-top:20px;
    height: 130px;
    padding: 0px;

}


.footerheading{
    text-align: center;
}
.footer-copy{
    background-color: black;
    text-align: center;
    color: white;
    height: 30px;
    width: 100%;

}
.map{
    padding-left: 200px; 
    align-content: right;

}
.contact{
    background-color: turquoise;
}
.d-block{height: 500px;

}
/* contactus butt0 */
.trial{

    background-color: turquoise;
    color: rgb(163, 89, 19);
    text-decoration: none;
    /* contactus butt0 */
}

.card-img-top{
    height:110em;
    align-content: center;
    padding-left: 1.5em;
}

#contentidsignup{

    background-color: wheat;
    height: 10em;
    text-align: center;
    color: teal;
    animation:blinkingText 2.2s infinite;
padding: 20px;}

@keyframes blinkingText{
    0%{     color: rgb(207, 18, 18);    }
    49%{    color: rgb(168, 201, 22); }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: rgb(68, 29, 238);    }
}

/* card carousel */
.card-img-top{
    height:300px;
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(242, 242, 248);

}

.card-caro{
    padding: 0px;
    background-color: thistle;
    height: 42em;
    /* margin: 10px; */
}
.card-caro2{
    padding: 0px;
    background-color: thistle;
    height: 48em;
}
    /* margin: 10px; */


.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;

}
.indi {
    bottom: -45px;
} 

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 10%, 10%;
  border-radius: 10%;
  border: 0px transparent black;
  background-image: none;
   


}
.tab{
    margin-left: 11em;

}


.carousel-control-next-icon:after
{
  content: '>';
  font-size: 50px;
  color: rgb(223, 27, 27);
  border-radius: 0px;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 50px;
  color: rgb(223, 27, 27);
}
.carobutt:hover{
    background-color: #4CAF50;
    color: white;
}
.btn{
    align-content: center;
    text-align: center;
    padding: 10px;

}
/* card caro end */
/* script adventure */
.adve{
    background-color:black;
    background-repeat: no-repeat;
    background-size: cover;
    color: blanchedalmond;
    margin: 0px;
    height: 23em;
    padding: 20px;
    text-align: center;
    justify-content: center;
}
.custom-control{
    padding: 20px;
    justify-content: center;
}
.row2{
    align-content: center;
}
/* script adv ends */


/* signup */
.list-inline-item{
    color: chocolate;
    height: 40px;
}
/* signup ends */

/* district main caro */
#contindist{
    text-align: justify;
    background-color: rgb(190, 200, 218);
    padding:10px;
}
/* /district main caro */
.newstab{
    background-color: whitesmoke;
    color: rgb(16, 71, 71);
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    
}
ul.a{list-style-type: square;
text-align:left;
text-decoration: none;
padding: 40px;
}
#news{
    border-bottom:1px outset rgb(56, 121, 121);
    padding-bottom: 30px;


}
.video-background{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
     width: auto;
    height: auto;
    bottom: 0px;
    right: 0px;
}
.introdist{
    margin-top: 17em;
    padding: 40px;
}
#disthowtoreach{
    text-align: center;

}
.reach{
    background-color: rgb(241, 145, 128);
    height:21em;
    padding: 20px;
}
.thingstodo{
    text-align: center;
    color: rgb(64, 7, 97);
}
.things
{
    background-color: rgb(236, 231, 236);
    align-content: center;
    text-align: left;
    padding: 3em;

}

.top-dest2{

    background-color: rgb(236, 240, 182);
    padding: 1px;
    height: 53em;

}
.mainhead{
  
    margin-top: 200px;
    color: white;
   
   

}
.mainh{
    text-align: center;
    
    
}
.control-label{
    text-align: left !important;
    padding-bottom: 4px;
}
.progress{
    height: 15px !important;
    width:15em !important;
}
#password{
    padding-left: 1em;
}
.show-pass{
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 5%;
}
.progress-bar-danger{
    background-color: #bb0000;
}
.progress-bar-warning{
    background-color: #cf9b2b;
}
.progress-bar-warning2{
    background-color: #d38f10;
}
.progress-bar-success{
    background-color: rgb(91, 226, 28);
}
.fa-circle{
     font-size: 10px;
}
.fa-check{
    color: rgb(24, 116, 5)

}